{% if oob_title is defined %}<title>{{ oob_title }} - {{ app_name }}</title>
{% endif %}{% if active_tab == 'secrets' %}{% include "partials/project_secrets.html" %}
{% elif active_tab == 'import' %}{% include "partials/project_import.html" %}
{% elif active_tab == 'access' and can_admin %}{% include "partials/project_access.html" %}
{% elif active_tab == 'requests' %}{% include "partials/project_requests.html" %}
{% elif active_tab == 'audit' %}{% include "partials/project_audit.html" %}
{% elif active_tab == 'tokens' %}{% include "partials/project_tokens.html" %}
{% elif active_tab == 'integrations' %}{% include "partials/project_integrations.html" %}
{% elif active_tab == 'webhooks' and can_admin %}
{% set scope_kind = 'project' %}{% set scope_ref = project.id %}{% set search_action = url_for('project_detail', project_id=project.id) %}{% set list_url = url_for('project_detail', project_id=project.id, tab='webhooks') %}
{% include "partials/webhooks_list.html" %}
{% elif active_tab == 'settings' and can_settings %}{% include "partials/project_settings.html" %}
{% elif active_tab == 'meta' %}{% include "partials/project_meta.html" %}
{% else %}{% include "partials/project_secrets.html" %}
{% endif %}